
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/AppLayout.cshtml";
}
<script src="~/AngularJs/AddSite/jsSiteController.js"></script>
<script src="~/AngularJs/AjsFactory/UserFactory.js"></script>



<div ng-controller="SiteController">
<div class="row page-tilte align-items-center">
    <div class="col-sm-6 col-sm offset-3">
        <h1 class="weight-300 h3 title">Add Site</h1>

    </div>
</div>

    <div class="col-md-12 col-md offset-2">
        <div class="card mb-5">
            <div class="card-body">
                <form  class ="form" name="form" ng-submit="SubmitForm()">
                    <div class="form-row">
                        <div class="form-group col-md-4">
                            <label>Learning Site Name</label>
                            <input type="text" class="form-control" ng-model="form.LearningSiteName" required>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group col-md-4">
                            <label>Site Address 1</label>
                            <input type="text" class="form-control" ng-model="form.AddressLine1"  required/>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group col-md-4">
                            <label> Site Address 2</label>
                            <input type="text" class="form-control" ng-model="form.AddressLine2" />

                        </div>
                    </div>

                    
                    <div class="form-group">
                        <div class="col-md-4">
                            <label>City</label>
                            <select class="form-control" ng-model="form.City" required>
                                <option value="">Select City</option>
                                <option value="1">Mumbai</option>
                                <option value="2">Pune</option>
                                <option value="3">Nashik</option>
                            </select>
                        </div>
                   

                        
                            <div class=" col-md-4">
                                <label>State</label>
                                <select class=" form-control" ng-model="form.state">
                                    <option value="">Select State </option>
                                    <option value="1">Maharashtra</option>
                                    <option value="2">Goa</option>
                                    <option value="3">UP</option>
                                </select>
                    
                        </div>
                        <div class="col-md-4">
                            <label for="inputZip">Pin Code</label>
                            <input type="number" ng-maxlength="6" class="form-control" id="txtpin" ng-model="form.Zip">
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group col-md-4">
                            <label>Learning Site Municipal District</label>
                            <input type="text" class="form-control" ng-model="form.LearningSiteMunicipalDist">
                        </div>
                 
                        <div class="form-group col-md-4">
                            <label>Learning Site Province</label>
                            <input type="text" class="form-control" ng-model="form.LearningSiteProvince">
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label>GPS Latitude</label>
                            <input type="number" class="form-control" ng-model="form.GPSLatitude" />
                        </div>
                 
                        <div class="form-group col-md-6">
                            <label>GPS Longitude</label>
                            <input type="number" class="form-control" ng-model="form.GPSLongitude" />
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group col-md-4 col-md offset-1">
                            <div class="checkbox">
                                <label><input type="checkbox" class="form-control" ng-model="form.LocatedInMetros">Located In Metros </label>
                            </div>
                        </div>


                        <div class="form-group col-md-3 col-md offset-2">
                            <div class="checkbox">
                                <label><input type="checkbox" class="form-control" ng-model="form.Rural">Rural</label>
                            </div>
                        </div>

                        <div class="form-group col-md-4">
                            <div class="checkbox">
                                <label><input type="checkbox" class="form-control" ng-model="form.IsActive">Is Active</label>
                            </div>
                        </div>
                    </div>

                        <br />
                        <br />
                        <br />
                        <div class="form-group col-md-4">
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
</form>
            </div>
        </div>
    </div>
</div>

